.container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.preview {
  width: 200px;
  margin-top: 15px;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.thumb {
  width: 100px;
  border-radius: 6px;
}
.textarea {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
